.board {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-bottom: 1em;
}

.row {
    display: flex;
    gap: 5px;
}

.cell {
    width: 40px;
    height: 40px;
    border: 2px solid #888;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5em;
    font-weight: bold;
    text-transform: uppercase;
    background: #fff;
    color: #000000;
    transition: background-color 0.2s;
    border-radius: 6px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08);
}

.cell.green {
    background: #07bd4d;
    color: #000000;
}

.cell.yellow {
    background: #8bff07;
    color: #000000;
}

.cell.gray {
    background: #975959;
    color: #000000;
}